root = true

[*]
charset = utf-8

[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
ij_typescript_spaces_within_imports = true
