node_modules
.DS_Store
.idea
.vscode
.cache
dist
storybook-static
storybook-docs
build-storybook.log
.vercel
graph.png
stats.html
.rollup.cache
.eslintcache
yarn-error.log
coverage
size-limit-report/stats.json
*.plan.md
*.spec.md
.docs-generated
docs/*
!docs/tasty
