name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write  # Read-only access to repository contents
  issues: write   # Write access to issues
  pull-requests: write  # Write access to pull requests
  statuses: write  # Write access to commit statuses

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=4096
    outputs:
      published: ${{ steps.changesets.outputs.published }}
    steps:
      - uses: actions/checkout@v4

      - name: Update Corepack
        run: npm i -g corepack@latest

      - name: Enable Corepack (pre)
        run: corepack enable

      - name: Prepare pnpm (pre)
        run: corepack prepare pnpm@10.14.0 --activate

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Enable Corepack
        run: corepack enable
      
      - name: Prepare pnpm
        run: corepack prepare pnpm@10.14.0 --activate

      - name: Install Dependencies
        run: pnpm install

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
          commit: 'chore: release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  deploy-chromatic:
    name: 'Deploy storybook to Chromatic'
    needs: publish
    if: needs.publish.outputs.published == 'false'
    runs-on: ubuntu-latest
    environment:
      name: Chromatic Production
      url: ${{ steps.publish_chromatic.outputs.url }}
    env:
      NODE_OPTIONS: --max-old-space-size=4096
      CHROMATIC_RETRIES: 5
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update Corepack
        run: npm i -g corepack@latest

      - name: Enable Corepack (pre)
        run: corepack enable

      - name: Prepare pnpm (pre)
        run: corepack prepare pnpm@10.14.0 --activate

      - uses: actions/cache@v4
        name: Download storybook cache
        with:
          path: |
            **/node_modules/.cache
          key: ${{ runner.os }}-storybook-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-storybook

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Enable Corepack
        run: corepack enable
      
      - name: Prepare pnpm
        run: corepack prepare pnpm@10.14.0 --activate

      - name: Install dependencies
        run: pnpm install

      - name: Publish to Chromatic
        id: publish_chromatic
        uses: chromaui/action@v1
        with:
          exitZeroOnChanges: true
          exitOnceUploaded: true
          autoAcceptChanges: true
          onlyChanged: true
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
